/*Reset dei valori di defualt */
* 
{
	margin: 0px;
	padding: 0px;
	box-Sizing: border-box;
}

/*Creo il mio font, che è molto simile a quello dell'immagine*/
@font-face
{
    font-family: Monotype;
    src: url("Tanseek\ Modern\ Pro\ Arabic\ Book.woff2");
}
