/*Creo il mio font, che è molto simile a quello dell'immagine*/
@font-face
{
    font-family: Monotype;
    src: url("Tanseek\ Modern\ Pro\ Arabic\ Book.woff2");
}

/*Reset dei valori di defualt */
* 
{
	margin: 0px;
	padding: 0px;
	box-Sizing: border-box;
    font-family: Monotype, sans-serif; /*Scelgo sans-serif come font di riserva*/
}

#title 
{
    width: 100%;
    display: inline;
}

.vertical-align
{
    vertical-align: middle;
}

header
{
    align-items: left;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 30px;
}



