/*Creo il mio font, che è molto simile a quello dell'immagine*/
@font-face
{
    font-family: Monotype;
    src: url("Tanseek\ Modern\ Pro\ Arabic\ Book.woff2");
}

/*Reset dei valori di defualt */
* 
{
	margin: 0px;
	padding: 0px;
	box-Sizing: border-box;
    font-family: Monotype, sans-serif; /*Scelgo sans-serif come font di riserva*/
}

#title 
{
    width: 100%;
    display: inline;
}

.vertical-align
{
    vertical-align: middle;
}

header
{
    align-items: left;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 30px;
    background-color: rgba(255,255,255,255);
}

body
{
    background-color: rgba(246,248,249,255);
}

main
{
    width: 65%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(255,255,255,255);
    padding-left: 40px;
    padding-bottom: 40px;
    font-size: xx-large;
    text-align: left;
    line-height: 40px;
}

#task-and-section 
{
    border-bottom: rgba(246,248,249,255) solid 2px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 1205px;

}

ul
{
    list-style-type: none;
}

#add-task
{
    background-color: rgba(71,173,241,255);
    border: 1px;
    border-color: rgba(71,173,241,255);
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

#add-section
{
    background-color: white; /* Green */
    border: solid 1px #d0d6d9;
    border-radius: 10px;
    color: #d0d6d9;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.list-button 
{
    border: none;
    border-radius: 40px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

#editorial 
{
    background-color: rgba(61,169,233,255);
}

#q1-goals
{
    background-color: rgba(156,114,228,255);
}

#recruiting
{
    background-color: rgba(100,192,169,255);
}

#mobile
{
    background-color: rgba(242,158,51,255);
}

#website
{
    background-color: rgba(216,99,161,255);
}

#sales
{
    background-color: rgba(176,201,38,255);
}

.check-mark 
{
    color: rgba(168,221,211,255);
    position: inline;
    border-radius: 50%; /*Percentuale tipicamente usata per inscrivere un cerchio dentro altre figure geometriche*/
    border: 2px solid rgba(168,221,211,255);
    padding: 3px; /*Distanza tra bordo e testo*/
    font-size: small;
}

.cross
{
    color: rgba(231,60,52,255);
    position: inline;
    border-radius: 50%; /*Percentuale tipicamente usata per inscrivere un cerchio dentro altre figure geometriche*/
    border: 2px solid rgba(231,60,52,255);
    padding: 3px; /*Distanza tra bordo e testo*/
    font-size: small;
}

.arrow-down
{
    position: inline;
    font-size: 40px;
}



